<h1>New Conversation</h1>

<%= form_tag conversations_path, method: :post do %>
  <%= select_tag :user_ids, options_from_collection_for_select(@recipients, :id, :name), multiple: true, class: 'form-control chosen-it' %>

  <%= text_field_tag :subject, nil, placeholder: 'Subject' %><br>

  <%= text_area_tag :body, nil, placeholder: 'Leave a message' %><br>

  <%= submit_tag %>

<% end %>
