<h1><%= @conversation.subject %></h1>

<% @conversation.receipts_for(current_user).each do |r| %>
  <%= r.message.sender.name %>
  <%= r.message.body %>
<% end %>

<%= form_tag conversation_messages_path(@conversation), method: :post do %>
  <%= text_area_tag :body %>
  <%= submit_tag %>
<% end %>
