<div class="col-lg-9 col-md-6 col-sm-8 col-xs-12">
  <h1>Find a project to join!</h1>

  <div class="row">
    <% @projects.order('created_at DESC').each do |project| %>


    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <h3><%= project.title %></h3>
        <% section = Section.find_by(project_id: project.id)%>
        <%= image_tag section.image.url(:medium) %>
        <h6><%= project.overview %></h6>
        <%= link_to 'Show', project %>
        <%= link_to 'Edit', edit_project_path(project) %>
        <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>

      </div>
    </div>

    <% end %>
  </div>
</div>


<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
  <h2>Categories</h2>
</div>




<%= link_to 'New Project', new_project_path %>
