<div class="col-lg-2 col-md-2 hidden-sm hidden-xs">
</div>

<div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
  <%= render template: "sections/index" %>
  <%= link_to 'Back', projects_path %>
</div>

<div class="col-lg-1 col-md-1 hidden-sm hidden-xs">
</div>

<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
  <h1><%= @project.title %></h1>
  <h4>
    <%= @project.overview %>

    <% if current_user.id == @project_admin.id %>
    | <%= link_to 'Edit', edit_project_path(@project) %>
    <% end %>

  </h4>
  <%= link_to 'Join This Project', project_create_role_path(@project), method: :create, data: { confirm: 'Are you sure?' } %>
  <h4>Admin:</h4>
  <h6><%= @project_admin.name %></h6>

  <h4>Collaborators:</h4>
  <% @project_collaborators.each do |collaborator| %>
    <h6><%= collaborator.user.name unless collaborator.user.nil? %></h6>
    <% if current_user.id == collaborator.user.id %>
    <% @conversation ||= @project_admin.mailbox.conversations.find(@project.mailboxer_conversation_id) %>
      <h2>Discussion</h2>

      <% @conversation.receipts_for(current_user).each do |r| %>
        <strong><%= r.message.sender.name %></strong><%= time_ago_in_words(r.message.created_at) +' ago' %><br>
        <%= r.message.body %><br>
      <% end %>

      <%= form_tag conversation_messages_path(@conversation), method: :post do %>
        <%= text_area_tag :body %>
        <%= submit_tag %>
      <% end %>

    <% end %>
  <% end %>

   <% if current_user.id == @project_admin.id %>
     <% @conversation ||= @project_admin.mailbox.conversations.find(@project.mailboxer_conversation_id) %>
     <h2>Discussion</h2>

     <% @conversation.receipts_for(current_user).each do |r| %>
       <strong><%= r.message.sender.name %></strong> <%= time_ago_in_words(r.message.created_at) +' ago' %><br>
       <%= r.message.body %><br>
     <% end %>

     <%= form_tag conversation_messages_path(@conversation), method: :post do %>
       <%= text_area_tag :body %>
       <%= submit_tag %>
     <% end %>
   <% end %>


</div>
